$border-color:red;
.name{
    width: 200px;
    height: 20px;
    border:1px $border-color solid;
    a{
        &:hover{
        color: red;
    }
    }
}
:global(a){
    &:hover{
        color: red;
    }
}